a{
    color: green;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:visited{
    font-weight: bold;
    color: black;
}
li{
    font-style: italic;
}
.impar{
    color: black;
    text-decoration: underline;
}
.par{
    color: grey;
    text-decoration: none;
}